<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>galeria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">galeria</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-img
          src="assets/img/bird-box-barcelona.jpg"
          with="100%;"
          heigh="100%;"
          alt="Bird Box Barcelona"
        ></ion-img>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-img
          src="assets/img/increibles.jpeg"
          with="300px;"
          heigh="300px;"
          alt="Increibles"
        ></ion-img>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-img
          src="assets/img/sound-of-freedom.jpg"
          with="300px;"
          heigh="300px;"
          alt="Sound of Freedom"
        ></ion-img>
      </ion-col>
      <ion-col size="12" size-md="3" class="ion-hide-md-down">
        <ion-img src="assets/img/avatar1.jpeg" alt="Avatar 1"></ion-img>
      </ion-col>
      <ion-col size="12" size-md="3" class="ion-hide-md-down">
        <ion-img src="assets/img/avatar2.jpg" alt="Avatar 2"></ion-img>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-img
          src="assets/img/babylon-2022.jpg"
          with="300px;"
          heigh="300px;"
          alt="Babylon 2022"
        ></ion-img>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-img
          src="assets/img/elemental.jpg"
          with="300px;"
          heigh="300px;"
          alt="Elemental"
        ></ion-img>
      </ion-col>
      <ion-col size="12" size-md="3" class="ion-hide-md-down">
        <ion-img src="assets/img/avatar3.jpg" alt="Avatar 3"></ion-img>
      </ion-col>
      <ion-col size="12" size-md="3" class="ion-hide-md-down">
        <ion-img src="assets/img/avatar4.jpg" alt="Avatar 4"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
