<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="3">
        <ion-img
          src="assets/img/piratasdelcaribe.jpg"
          alt="Piratas del Caribe"
        ></ion-img>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="3">
        <ion-img
          src="assets/img/lacumbreescarlata.jpg"
          alt="La Cumbre Escarlata"
        ></ion-img>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="3"
        ><ion-img src="assets/img/babylon-2022.jpg" alt="Babylon 2022"></ion-img
      ></ion-col>
      <ion-col size="12" size-sm="6" size-md="3"
        ><ion-img
          src="assets/img/bird-box-barcelona.jpg"
          alt="Bird Box Barcelona"
        ></ion-img
      ></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <ion-img src="assets/img/elemental.jpg" alt="Elemental"></ion-img>
      </ion-col>
      <ion-col size-md="6">
        <ion-img src="assets/img/goonies.jpg" alt="The Goonies"></ion-img>
      </ion-col>
      <ion-col size-md="12">
        <ion-img src="assets/img/emergencia.jpg" alt="Emergencia"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
